@import url("https://fonts.googleapis.com/css?family=Muli|Open+Sans&display=swap");

/* 
 --primaryColor: #293250;
  --primaryRGBA: rgba(0, 0, 0, 0.3);
  --mainColor: #ffd55a;
  --darkColor: #6dd47e;
 */

/* 
--primaryColor: #07617d;
  --mainColor: #ececeb;
  --darkColor: #f9a828;

  --mainBlack: #2e383f;

  --primaryRGBA: rgba(0, 0, 0, 0.3);
  --mainWhite: rgb(245, 245, 245);
 */

/* 
 
2d4059
ffb400
f6f6f6
ea5455 */
:root {
  --primaryColor: #ffb400;
  --mainColor: #ececeb;
  --darkColor: #07617d;

  --mainBlack: #2e383f;

  --primaryRGBA: rgba(0, 0, 0, 0.25);
  --mainWhite: rgb(245, 245, 245);

  --mainTransition: all 0.3s ease-in-out;
  --mainSpacing: 0.4rem;
}
.text-title {
  font-family: "Muli", sans-serif;
  font-weight: bold;
  letter-spacing: var(--mainSpacing);
  text-transform: capitalize;
}

.text-main {
  color: var(--primaryColor);
}
.text-main {
  color: var(--primaryColor);
}
body {
  font-family: "Muli", sans-serif !important;
  background: var(--mainWhite) !important;
  color: var(--mainBlack);
}
.main-link {
  padding: 0.5rem 1rem;
  background: var(--primaryColor);
  color: var(--darkColor);
  display: inline-block;
  text-transform: uppercase;
  letter-spacing: var(--mainSpacing);
  outline: 2px solid var(--primaryColor);
  outline-offset: 4px;
  border: none;
  transition: var(--mainTransition);
}
.main-link:hover {
  background: var(--mainColor);
  text-decoration: none;
  outline-color: var(--mainColor);
  color: var(--primaryColor);
}
.cart-icon {
  cursor: pointer;
}
